<h1>Import a Recipe from LetsCookFrench</h1>
<a href="/">Back to Home</a>
<form action="import2" />
  Keyword for import:<br>
  <input type="text" name="keyword" value='please type keyword'><br>
  <input type="submit" value="Submit">
</form>
