<h1>"Welcome to the Cookbook!"</h1>
<ul>
  <li><a href="/list">Show all recipes</a></li>
  <li><a href="/new">Create a new recipe</a></li>
  <li><a href="/destroy">Destroy a recipe</a></li>
  <li><a href="/import">Import recipes from LetsCookFrench</a></li>
  <li>Mark a recipe as done</li>
</ul>
