<h1>Create a new Recipe</h1>
<form action="create" />
  Recipe Name:<br>
  <input type="text" name="name" value='enter the name of the recipe'><br>
  Recipe Description:<br>
  <input type="text" name="description"><br>
  Recipe Cooking Time (in min):<br>
  <input type="text" name="cooking_time"><br>
  <input type="submit" value="Submit">
</form>
<a href="/">Back to Home</a>
